name: Check

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-arm-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    env:
      JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8

    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: '9.3.1'

    - name: Run checks with Gradle
      # Use gradle from "Setup Gradle" for faster CI builds
      run: gradle check
