name: Publish

on:
  push:
    branches: [ main,  hotfix , add-publish ]
    tags:
      - '**'
  workflow_dispatch:

jobs:
  publish:
    if: ${{ github.repository == 'JabRef/mslinks' }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '17'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        gradle-home-cache-cleanup: true

    - name: Build
      run: ./gradlew build

    - name: Publish to Sonatype (for snapshots) or to Maven Central
      run: ./gradlew publish closeAndReleaseStagingRepositories
      env:
        OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
